/* shared styles */
body {
          font-family: 'Lato', sans-serif;
          font-family: 'Open Sans', sans-serif;
          font-family: 'Work Sans', sans-serif;
}

/* nav releted style */

header{
          background: rgb(217, 239, 248);
          padding: 35px 240px;
}

nav{
          display: flex;
          justify-content: space-between;
}


ul{
          display: flex;
}

nav li{
         list-style: none;
         margin-right: 15px;
         margin-top: 10px;
}
nav a{
          text-decoration: none;
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: larger;
}

a:hover{
          color: white;
          background-color: #F948B2;
}

.game-text{
          color: #F948B2;
}
.logo{
          width: 40px;
          margin-right: 5px;
}
.nav-title{
          font-style:italic;
          font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-btn{
          border: 10px;
          outline: none;
          padding: 14px;
          border-radius: 10px;
          background-color: white;
          color: black;
}
.fa-brands{
          margin-right: 5px;
          margin-left: 5px;
}

/* main  related styles */
/* section point one releted style */

.point-one{
          display: flex;
          background-image: url(../images/Background\ 1.png);
          width: 701px;
          height: 390px;
          flex-shrink: 0;
          margin-top: 0px;
          padding-left: 200px;
          padding-top: 90px;


}

.goat{
          font-size: 50px;
          text-transform: uppercase;
          font-weight: bold;
          background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-top: 0px;
          margin-left: 0px;
}
.play{
          font-style: italic;
          font-family: serif;
          margin-bottom: 0px;
}
.hov:hover{
          color: rgb(14, 10, 10);
          background-color: rgb(204, 230, 240);
}
.nav-btn:hover{
          color: rgb(85, 34, 173);
          background-color: #c0f3d7;

}

.sign-btn{
          padding: 10px;
          border-radius: 50px;
          background-color: #F948B2;
          color: white;
          border-color: white;
          font-size: small;
}
.sign-btn:hover{
          background-color: rgb(196, 33, 141)
}

.go-btn{
          padding: 10px;
          border-radius: 50px;
          background-color: #4EC5F7;
          color: white;
          border-color: white;
          font-size: small;
}
.go-btn:hover{
          background-color: #1a82af;
}
.one{
          margin-left: 100px;
}

.two{
          margin-top: 0px;
          margin-left: 600px;
          padding-top: 0px;
          /* width: 300px; */
          /* height: 10px; */
}

.pic-one{
          width: 500px;
          height: 380px;
}

/* setion point two related style */
.point-two{
          display: flex;
          background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
          width: 1685px;
          height: 390px;
          flex-shrink: 0;
          margin-top: 0px;
          padding-left: 200px;
          padding-top: 90px;
}
.first{
          margin-top: 0px;
          margin-left: 80px;
          padding-top: 0px;
}
.second{
          text-align: right;
          margin-left: 300px;
          margin-top: 70px;
}
.line{
          width: 520px;  
}
.we{
          text-align: right;
          /* display: flex; */
          /* font-size: 20px; */
          font-weight: bold;
          background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-top: 0px;
          margin-left: 0px;
}

/* setion point three related style */

.funny{
          display: flex;
          justify-content: center;
}
.right{
          margin-right: 10px;
          color: #0B0223;
          text-align: right;
          font-size: 48px;
          font-weight: 700;
          padding-bottom: 10px;
}
.left{
          background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 48px;
          font-weight: 700;
}
.collection{
          text-align: center;
          margin-top: 1px;
          /* height: 50px; */
          padding-top: 0px;
          font-size: large;
}
.im-1{
          display: flex;
          margin-left: 417px;
          height: 250px;
}
.skill-pic{
          margin-left: 50px;
          width: 200px;
          height: 250px;
}
.pic-para{
          display: flex;
          margin-left: 417px;
}
.para{
          margin-left: 25px;
}
.btn-p1{
          width: 180px;
          margin-left: 60px ;
          margin-top: 5px;
          background-color: white;
          border: none;
}
.btn-p2{
          width: 180px;
          margin-left: 69px;
          margin-top: 5px;
          background-color: white;
          border: none;
}
.btn-p3{
          width: 180px; 
          margin-left: 71px;
          margin-top: 5px;
          background-color: white;
          border: none;
}
.btn-p4{
          width: 180px;   
          margin-left: 72px;
          margin-top: 5px;
          background-color: white;
          border: none;
}

.btn{
          margin-right: 100px;
}
/* play button style */
.image-container {
          position: relative;
          display: inline-block; /* or "block" if you want it on a separate line */
          margin-left: 615px;
          margin-top: 10px;
          
      }
      
.play-button {
          border: 10px; 
          border-color: aliceblue;
          border-radius: 100px;
          background-color: #fdd0ec;
          color: #F948B2;
          font-size: xx-large;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 50px;
          transform: translate(-50%, -50%);
          width: 60px; /* Adjust size as needed */
          height: 60px;
          background-image: url('../images/circle-play-regular\ \(1\).svg'); /* Replace with the path to your play button icon */
          background-size: cover;
          cursor: pointer;
          /* Add any additional styles you want for the play button */
}

/* section point four releted */
.point-four{
          background: rgb(100, 138, 100);
          width: 1885px;
          height: 390px;
}
.watch{
          margin-left: 615px;
}
.watch-btn{
          width: 640px;
          height: 35px;
          background-color: #8ac4dd;
          color: white;
          font-family:monospace;
          font-size: x-large;
          border: none;
}
/* section point five related */
.point-five{
          display: flex;
          width: 1885px;
          height: 550px;
          background-color: white;
}

.img-container {
          position: relative;
          display: inline-block; /* or "block" if you want it on a separate line */
}
  
.back{
          width: 450px;
          height: 440px;
          margin-left: 450px;
          margin-top: 30px;
}
      
.overlay {
          height: 250px;
          width: 200px;
          position: absolute;
          top: 280px; /* Adjust the vertical position */
          left: 780px; /* Adjust the horizontal position */
          /* Add any additional styles you want for the overlay image */
}

.five-text{
          margin-left: 250px;
          margin-top: 200px;
          margin-right: 200px;
          padding-right: 250px;
}


/* section point six related */ 

.point-six{
          display: flex;
          background-color:#F948B2;
          background-image: url(../images/Background\ 1.png);
          width: 1885px;
          height: 380px;
          flex-shrink: 0;
          margin-top: 0px;

}
.career{
          padding-right: 50px;
          padding-bottom: 500px ;
          margin-left: 200px;
          margin-top: 45px;
}  
.pic-back{
          width: 900px;
          height: 400px;
}
.cr-btn{
          border: none;
          border-radius: 100px;
          background-color: white;
          color: #F948B2;
          padding: 10px;
}
.cr-btn:hover{
          color: white;
          background-color: #f19fd2;
}

/* section point lst related */
.lst{
          background-color: white;
          height: 300px;
          padding-left: 350px;
          padding-right: 350px;
}
.nine-btn{
          border: none;
          border-radius: 100px;
          background-color: rgb(248, 228, 228);
          color: #0B0223;
          width: 200px;
          height: 70px;
          margin-right: 30px;
          margin-top: 50px;
          font-size: 15px
}
.gol{
          width: 40px;
          height: 40px;
          padding-left: 1px;
}
.nine-btn:hover{
          color: white;
          background-color: #8758F1;
}
/* footer related style */
footer{
          width: 1887px;
          height: 400px;
          background-color: black;
          margin-top: 0px;
}
.foot-title{
          color: white;
          margin-left: 800px;
          padding-top: 100px;
}
.foot-btn{
          margin-left: 668px;
}
.ft-btn{
          background-color: black;
          color: white;
          margin-right: 10px;
}
