/* shared styles */
body {
          font-family: 'Lato', sans-serif;
          font-family: 'Open Sans', sans-serif;
          font-family: 'Work Sans', sans-serif;
}

/* nav releted style */

header{
          background: rgb(217, 239, 248);
          padding: 35px 240px;
}

nav{
          display: flex;
          justify-content: space-between;
}


ul{
          display: flex;
}

nav li{
         list-style: none;
         margin-right: 15px;
         margin-top: 10px;
}
nav a{
          text-decoration: none;
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: larger;
}

a:hover{
          color: white;
          background-color: #F948B2;
}

.game-text{
          color: #F948B2;
}
.logo{
          width: 40px;
          margin-right: 5px;
}
.nav-title{
          font-style:italic;
          font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-btn{
          border: 10px;
          outline: none;
          padding: 14px;
          border-radius: 10px;
          background-color: white;
          color: black;
}
.fa-brands{
          margin-right: 5px;
          margin-left: 5px;
}

/* main related styles */

.point-one{
          display: flex;
          background-image: url(../images/Background\ 1.png);
          width: 701px;
          height: 390px;
          flex-shrink: 0;
          margin-top: 0px;
          padding-left: 200px;
          padding-top: 90px;


}

.goat{
          font-size: 50px;
          text-transform: uppercase;
          font-weight: bold;
          background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          margin-top: 0px;
          margin-left: 0px;
}
.play{
          font-style: italic;
          font-family: serif;
          margin-bottom: 0px;
}
.hov:hover{
          color: rgb(14, 10, 10);
          background-color: rgb(204, 230, 240);
}
.nav-btn:hover{
          color: rgb(85, 34, 173);
          background-color: #c0f3d7;

}

.sign-btn{
          padding: 10px;
          border-radius: 50px;
          background-color: #F948B2;
          color: white;
          border-color: white;
          font-size: small;
}
.sign-btn:hover{
          background-color: rgb(196, 33, 141)
}

.go-btn{
          padding: 10px;
          border-radius: 50px;
          background-color: #4EC5F7;
          color: white;
          border-color: white;
          font-size: small;
}
.go-btn:hover{
          background-color: #1a82af;
}
.one{
          margin-left: 100px;
}

.two{
          margin-top: 0px;
          margin-left: 600px;
          padding-top: 0px;
          /* width: 300px; */
          /* height: 10px; */
}

.pic-one{
          width: 500px;
          height: 380px;
}
