/* shared styles */
body {
          font-family: 'Lato', sans-serif;
          font-family: 'Open Sans', sans-serif;
          font-family: 'Work Sans', sans-serif;
}

header{
          background: rgb(217, 239, 248);
          padding: 35px 240px;
}

nav{
          display: flex;
          justify-content: space-between;
}


ul{
          display: flex;
}

nav li{
         list-style: none;
         margin-right: 20px;
         margin-top: 10px;
}
nav a{
          text-decoration: none;
          font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: larger;
}

a:hover{
          color: white;
          background-color: rgb(235, 16, 81);
}

.game-text{
          color: rgb(235, 16, 81);
}
.logo{
          width: 40px;
}
.nav-title{
          font-style:italic;
          font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-btn{
          border: 1px;
          outline: none;
          padding: 14px;
          border-radius: 10px;
          background-color: white;
          color: black;
}
.fa-brands{
          margin-right: 5px;
          margin-left: 5px;
}
